*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
}

.loader{
	position: relative;
	width: 400px;
	height: 20px;
	background: #fff;
}

.loader::before{
	content: '';
	position: absolute;
	inset: 0;
	background: linear-gradient(100deg,#fb0094,#0000ff,#00ff00,#0000ff,#fb0094,#0000ff,#00ff00,#0000ff,#fb0094);
	animation: animate 20s linear infinite;
	background-size: 400%;

}

.loader::after{
	content: '';
	position: absolute;
	inset: 0;
	background: linear-gradient(100deg,#fb0094,#0000ff,#00ff00,#0000ff,#fb0094,#0000ff,#00ff00,#0000ff,#fb0094);
	animation: animate 20s linear infinite;
	background-size: 400%;
	filter: blur(20px);

}

@keyframes animate{
	0%{
		background-position: 0 0;

	}
	0%{
		background-position: 400% 0;
		
	}
}